body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a {
    width: 15%;
    background-color: rgb(255, 0, 140);
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}

a:hover {
    background-color: rgb(91, 0, 175);
    border: none;
    width: 31vh;
}